# misc
*.pem
*.txt
*.out

# Local .terraform directories
**/.terraform/*
.terraform.lock.hcl

# .tfstate files
*.tfstate
*.tfstate.*
*state.json

# Crash log files
crash.log

# Ansible
*.retry

# environment
.env
.DS_Store
.github/.DS_Store

# folders
.no-show-configs