# misc
*.pem

# Local .terraform directories
**/.terraform/*

# .tfstate files
*.tfstate
*.tfstate.*
*state.json

# Crash log files
crash.log

# Ansible
*.retry

# environment
.env
.DS_Store
.github/.DS_Store